<a href="https://colab.research.google.com/github/dqdung1604/AI_Sem2_2022-2023/blob/main/Lung_cancer(W8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
url = 'lung_cancer_examples.csv'
data = pd.read_csv(url)
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [2]:
data = data.drop('Name', axis = 1)
data = data.drop('Surname', axis = 1)
data.head()

   Age  Smokes  AreaQ  Alkhol  Result
0   35       3      5       4       1
1   27      20      2       5       1
2   30       0      5       2       0
3   28       0      8       1       0
4   68       4      5       6       1

In [4]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

x = data.loc[:, ['Age', 'Smokes', 'AreaQ', 'Alkhol']]
y = data['Result']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)
print(x_train, x_train_std)

    Age  Smokes  AreaQ  Alkhol
16   42      22      3       5
15   39      18      8       1
25   21      20      5       3
56   75      15      3       5
50   42      12      6       2
10   33       4      8       0
26   37      15      6       2
48   53      20      6       3
34   26      10      7       2
24   77       3      2       6
20   55      15      1       3
52   26      34      1       8
1    27      20      2       5
29   40      20      2       7
19   73      10      7       6
49   62      20      5       6
5    34       0     10       0
41   47      12      8       0
6    58      15     10       0
33   62      25      3       4
11   18      10      6       3
36   59      20      3       4
23   44       5      8       1
17   19      12      8       0
42   69      20      5       4
46   31      20      9       4
37   62      15      5       5
2    30       0      5       2
21   33       8      8       1
28   55      20      1       4
53   35      20      5       1
35   25      20      8       2
12   25       2      5       1
31   56      20      3       3
0    35       3      5       4
38   33      25      8       2
54   26      13      6       1
4    68       4      5       6
32   47      15      1       8
3    28       0      8       1
22   22      20      6       2 [[-0.03925738  0.99035616 -0.93884204  0.85369627]
 [-0.21809653  0.48279863  1.02506223 -0.94125486]
 [-1.29113145  0.7365774  -0.15328033 -0.0437793 ]
 [ 1.92797331  0.10213048 -0.93884204  0.85369627]
 [-0.03925738 -0.27853767  0.23950052 -0.49251708]
 [-0.57577484 -1.29365274  1.02506223 -1.38999264]
 [-0.33732263  0.10213048  0.23950052 -0.49251708]
 [ 0.61648619  0.7365774   0.23950052 -0.0437793 ]
 [-0.99306619 -0.53231644  0.63228137 -0.49251708]
 [ 2.04719941 -1.42054212 -1.33162289  1.30243405]
 [ 0.73571229  0.10213048 -1.72440375 -0.0437793 ]
 [-0.99306619  2.51302877 -1.72440375  2.19990961]
 [-0.93345314  0.7365774  -1.33162289  0.85369627]
 [-0.15848348  0.7365774  -1.33162289  1.75117183]
 [ 1.80874721 -0.53231644  0.63228137  1.30243405]
 [ 1.15300365  0.7365774  -0.15328033  1.30243405]
 [-0.51616178 -1.80121027  1.81062393 -1.38999264]
 [ 0.25880788 -0.27853767  1.02506223 -1.38999264]
 [ 0.91455144  0.10213048  1.81062393 -1.38999264]
 [ 1.15300365  1.37102432 -0.93884204  0.40495849]
 [-1.4699706  -0.53231644  0.23950052 -0.0437793 ]
 [ 0.97416449  0.7365774  -0.93884204  0.40495849]
 [ 0.07996873 -1.16676336  1.02506223 -0.94125486]
 [-1.41035755 -0.27853767  1.02506223 -1.38999264]
 [ 1.57029501  0.7365774  -0.15328033  0.40495849]
 [-0.69500094  0.7365774   1.41784308  0.40495849]
 [ 1.15300365  0.10213048 -0.15328033  0.85369627]
 [-0.75461399 -1.80121027 -0.15328033 -0.49251708]
 [-0.57577484 -0.78609521  1.02506223 -0.94125486]
 [ 0.73571229  0.7365774  -1.72440375  0.40495849]
 [-0.45654873  0.7365774  -0.15328033 -0.94125486]
 [-1.05267924  0.7365774   1.02506223 -0.49251708]
 [-1.05267924 -1.54743151 -0.15328033 -0.94125486]
 [ 0.79532534  0.7365774  -0.93884204 -0.0437793 ]
 [-0.45654873 -1.42054212 -0.15328033  0.40495849]
 [-0.57577484  1.37102432  1.02506223 -0.49251708]
 [-0.99306619 -0.15164829  0.23950052 -0.94125486]
 [ 1.51068195 -1.29365274 -0.15328033  1.30243405]
 [ 0.25880788  0.10213048 -1.72440375  2.19990961]
 [-0.87384009 -1.80121027  1.02506223 -0.94125486]
 [-1.2315184   0.7365774   0.23950052 -0.49251708]]

In [5]:
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)
print(x_train, x_train_std)

    Age  Smokes  AreaQ  Alkhol
16   42      22      3       5
15   39      18      8       1
25   21      20      5       3
56   75      15      3       5
50   42      12      6       2
10   33       4      8       0
26   37      15      6       2
48   53      20      6       3
34   26      10      7       2
24   77       3      2       6
20   55      15      1       3
52   26      34      1       8
1    27      20      2       5
29   40      20      2       7
19   73      10      7       6
49   62      20      5       6
5    34       0     10       0
41   47      12      8       0
6    58      15     10       0
33   62      25      3       4
11   18      10      6       3
36   59      20      3       4
23   44       5      8       1
17   19      12      8       0
42   69      20      5       4
46   31      20      9       4
37   62      15      5       5
2    30       0      5       2
21   33       8      8       1
28   55      20      1       4
53   35      20      5       1
35   25      20      8       2
12   25       2      5       1
31   56      20      3       3
0    35       3      5       4
38   33      25      8       2
54   26      13      6       1
4    68       4      5       6
32   47      15      1       8
3    28       0      8       1
22   22      20      6       2 [[-0.03925738  0.99035616 -0.93884204  0.85369627]
 [-0.21809653  0.48279863  1.02506223 -0.94125486]
 [-1.29113145  0.7365774  -0.15328033 -0.0437793 ]
 [ 1.92797331  0.10213048 -0.93884204  0.85369627]
 [-0.03925738 -0.27853767  0.23950052 -0.49251708]
 [-0.57577484 -1.29365274  1.02506223 -1.38999264]
 [-0.33732263  0.10213048  0.23950052 -0.49251708]
 [ 0.61648619  0.7365774   0.23950052 -0.0437793 ]
 [-0.99306619 -0.53231644  0.63228137 -0.49251708]
 [ 2.04719941 -1.42054212 -1.33162289  1.30243405]
 [ 0.73571229  0.10213048 -1.72440375 -0.0437793 ]
 [-0.99306619  2.51302877 -1.72440375  2.19990961]
 [-0.93345314  0.7365774  -1.33162289  0.85369627]
 [-0.15848348  0.7365774  -1.33162289  1.75117183]
 [ 1.80874721 -0.53231644  0.63228137  1.30243405]
 [ 1.15300365  0.7365774  -0.15328033  1.30243405]
 [-0.51616178 -1.80121027  1.81062393 -1.38999264]
 [ 0.25880788 -0.27853767  1.02506223 -1.38999264]
 [ 0.91455144  0.10213048  1.81062393 -1.38999264]
 [ 1.15300365  1.37102432 -0.93884204  0.40495849]
 [-1.4699706  -0.53231644  0.23950052 -0.0437793 ]
 [ 0.97416449  0.7365774  -0.93884204  0.40495849]
 [ 0.07996873 -1.16676336  1.02506223 -0.94125486]
 [-1.41035755 -0.27853767  1.02506223 -1.38999264]
 [ 1.57029501  0.7365774  -0.15328033  0.40495849]
 [-0.69500094  0.7365774   1.41784308  0.40495849]
 [ 1.15300365  0.10213048 -0.15328033  0.85369627]
 [-0.75461399 -1.80121027 -0.15328033 -0.49251708]
 [-0.57577484 -0.78609521  1.02506223 -0.94125486]
 [ 0.73571229  0.7365774  -1.72440375  0.40495849]
 [-0.45654873  0.7365774  -0.15328033 -0.94125486]
 [-1.05267924  0.7365774   1.02506223 -0.49251708]
 [-1.05267924 -1.54743151 -0.15328033 -0.94125486]
 [ 0.79532534  0.7365774  -0.93884204 -0.0437793 ]
 [-0.45654873 -1.42054212 -0.15328033  0.40495849]
 [-0.57577484  1.37102432  1.02506223 -0.49251708]
 [-0.99306619 -0.15164829  0.23950052 -0.94125486]
 [ 1.51068195 -1.29365274 -0.15328033  1.30243405]
 [ 0.25880788  0.10213048 -1.72440375  2.19990961]
 [-0.87384009 -1.80121027  1.02506223 -0.94125486]
 [-1.2315184   0.7365774   0.23950052 -0.49251708]]

In [6]:
model = Perceptron(max_iter = 1000, eta0 = 0.1, random_state = 0)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
print(y_pred)
print(y_test)
print('Độ chính xác mô hình chưa scale:', accuracy_score(y_test, y_pred))

[1 1 1 0 0 1 1 0 0 1 1 1 0 0 1 0 1 0]
57    1
14    1
40    1
27    0
44    0
13    1
9     1
8     0
7     0
55    1
51    1
39    0
45    0
58    0
43    1
30    0
18    1
47    0
Name: Result, dtype: int64
Độ chính xác mô hình chưa scale: 0.9444444444444444